@import url('https://fonts.cdnfonts.com/css/futura-pt');

.container {
    min-height: calc(100vh - 100px);
}

html {
    margin: 0 auto;
    padding: 0;
}

footer,
header {
    max-height: 50px;
}

html {
    font-family: 'Futura PT', sans-serif;
}

footer,
header,
main {
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 10px;
    text-align: center;
}

.card-container {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F6F3EF;
}

.card-item {
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.swiper-padding {
    padding: 50px 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #F09600;
    border-radius: 12px;
    height: 8px;
    width: 20px;
}

/* .swiper-slide {
    width: fit-content;
} */


/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}